<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Homepage</title>
</head>
<body>
    <h1>My homepage</h1>
    <h3>This is the conventions used in Web-developement in the 1990's</h3>
    <h4>Apache is used to host files of STATIC pages</h4>
    <a href="contact.html">Contact</a>
</body>
</html>